<h1>Listing collections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%= collection.name %></td>
    <td><%= collection.description %></td>
    <td><%= link_to 'Show', user_collection_path(@user, collection) %></td>
    <td><%= link_to 'Edit', edit_user_collection_path(@user, collection) %></td>
    <td><%= link_to 'Destroy', [@user, collection], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collection', new_user_collection_path(@user) %>
