<h1>Listing qr_content_placements</h1>

<table>
  <tr>
    <th>Qrcontent</th>
    <th>Qrcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qr_content_placements.each do |qr_content_placement| %>
  <tr>
    <td><%= qr_content_placement.qrcontent %></td>
    <td><%= qr_content_placement.qrcode %></td>
    <td><%= link_to 'Show', qr_content_placement %></td>
    <td><%= link_to 'Edit', edit_qr_content_placement_path(qr_content_placement) %></td>
    <td><%= link_to 'Destroy', qr_content_placement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qr content placement', new_qr_content_placement_path %>
