<%= form_for(@qrcontent) do |f| %>
  <% if @qrcontent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qrcontent.errors.count, "error") %> prohibited this qrcontent from being saved:</h2>

      <ul>
      <% @qrcontent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
