<h1>Listing qr_collection_placements</h1>

<table>
  <tr>
    <th>Collection</th>
    <th>Qrcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qr_collection_placements.each do |qr_collection_placement| %>
  <tr>
    <td><%= qr_collection_placement.collection %></td>
    <td><%= qr_collection_placement.qrcode %></td>
    <td><%= link_to 'Show', qr_collection_placement %></td>
    <td><%= link_to 'Edit', edit_qr_collection_placement_path(qr_collection_placement) %></td>
    <td><%= link_to 'Destroy', qr_collection_placement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qr collection placement', new_qr_collection_placement_path %>
